p Hi,
p #{inviter} has added you as a collaborator on #{strider_server_name} for project #{display_name}

p Your invite code is:
blockquote #{code}
p You may register an account with this code at:
p #{strider_server_name}/?code=#{code}

p PaperG Continuous Deployment
